<section class="sectio blue-section">   
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Introduction</h1>
            <p>
                
                GateNirvana is a gated Community Management which consists three modules -> Admin , Resident and Guard .<br><br>
				
                <b>Admin:</b> It is Owner of Society.It can show all information of Society.<br>

                <b>Resident:</b> It is Owner/Tenant of society.It can show himself Information.<br>

                <b>Guard:</b> It has person’s information of society and it has details of entry and exit person and reason that person.<br>


            </p>
            
        </div>
        
    </div>

</div>    
</section>